<nav class="navbar navbar-expand-lg " style="background-color: #98c6e8;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">To Dos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" [routerLink]="['/home']" routerLinkActive="iconActive">
              <i class="bi bi-house-door"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" [routerLink]="['/contactus']" routerLinkActive="iconActive">
              <i class="bi bi-envelope"></i> Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true" [routerLink]="['/aboutus']" routerLinkActive="iconActive">
              <i class="bi bi-info-circle"></i> About Us
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>